body{
  margin:0;
  padding:0;
  font-family:Arial;
  background:#111;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.container{
  width:320px;
  background:#222;
  padding:25px;
  border-radius:15px;
  text-align:center;
}

h1{
  color:white;
}

input{
  width:100%;
  padding:12px;
  margin-top:15px;
  border:none;
  border-radius:10px;
  outline:none;
}

button{
  width:100%;
  padding:12px;
  margin-top:20px;
  border:none;
  background:#00b894;
  color:white;
  border-radius:10px;
  cursor:pointer;
  font-size:16px;
}

button:hover{
  background:#019875;
}

p{
  color:white;
  margin-top:15px;
}

a{
  color:#00cec9;
  text-decoration:none;
}